{% extends "base.html" %}
{% block conteudo %}

<div class="card">
  <h2>ADICIONAR CLIENTE</h2>

  <form method="post">
    <div class="form-group">
      <label>NOME</label>
      <input type="text" name="nome" required>
    </div>

    <div class="form-group">
      <label>EMAIL</label>
      <input type="email" name="email" required>
    </div>

    <div class="form-group">
      <label>TELEFONE</label>
      <input type="text" name="telefone" required>
    </div>

    <div class="form-group">
      <label>ULTIMO PAGAMENTO</label>
      <input type="date" name="ultimo_pagamento" required>
    </div>

    <button class="btn">SALVAR</button>
  </form>

  {% if msg %}
    <div class="msg">{{ msg }}</div>
  {% endif %}
</div>

{% endblock %}
