<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SISTEMA DE NOTICAÇÕES</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header class="topbar">
  <div class="logo">📊 SISTEMA DE NOTIFICAÇÕES</div>

  <nav class="menu-topo">
    <a href="/" class="top-btn">CLIENTES</a>
    <a href="/adicionar" class="top-btn">ADICIONAR</a>
    <a href="/rotina" class="top-btn">ROTINA DIARIA</a>
    <a href="/backup" class="top-btn destaque">BACKUP</a>
  </nav>
</header>

<div class="conteudo">
  {% block conteudo %}{% endblock %}
</div>


</body>

</html>
