{% extends "base.html" %}
{% block conteudo %}

<h2>USUARIOS ATIVOS</h2>

{% if usuarios %}

<table>
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>TELEFONE</th>
        <th>STATUS</th>
        <th>ULTIMO PAGAMENTO</th>
        <th>AÇÕES</th>
    </tr>

    {% for u in usuarios %}
    <tr>
  <td>{{ u[0] }}</td>
  <td>{{ u[1] }}</td>
  <td>{{ u[2] }}</td>
  <td class="status {{ u[3] }}">
    {{ u[3] }}
  </td>

  <td>{{ u[4] }}</td>
  <td>{{ u[5] }}</td>
  <td>
    <a class="botao botao-editar" href="/editar/{{ u[0] }}">EDITAR</a>
    <a class="botao botao-deletar" href="/deletar/{{ u[0] }}" onclick="return confirm('Deseja deletar?')">DELETAR</a>
    <a class="botao botao-pagar" href="/pagar/{{ u[0] }}">PAGAR</a>

  </td>
</tr>

    {% endfor %}
</table>
{% else %}
<p>NENHUM CLIENTE CADASTRADO</p>
{% endif %}

{% endblock %}
